In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
df=pd.read_csv('encoded_disaster.csv')

#df=df.loc[:, ~df.columns.isin(['declaration_date', 'incident_begin_date','incident_end_date','disaster_closeout_date','last_refresh','fips','place_code','designated_area','hash','id'])]
df.columns

Index(['fema_declaration_string', 'disaster_number', 'state',
       'declaration_type', 'declaration_date', 'fy_declared', 'incident_type',
       'declaration_title', 'ih_program_declared', 'ia_program_declared',
       'pa_program_declared', 'hm_program_declared', 'incident_begin_date',
       'incident_end_date', 'fips', 'place_code', 'designated_area',
       'declaration_request_number', 'hash', 'last_refresh', 'id'],
      dtype='object')

In [3]:
X=df.drop(['fema_declaration_string','disaster_number','declaration_date','declaration_title'],axis=1)

In [4]:
X=X.drop(['ih_program_declared','ia_program_declared','pa_program_declared','hm_program_declared'],axis=1)

In [5]:
X=X.drop(['incident_begin_date','incident_end_date','fips','place_code','designated_area'],axis=1)

In [6]:
X=X.drop(['declaration_request_number', 'hash', 'last_refresh', 'id'],axis=1)

In [7]:
X.shape

(54451, 4)

In [8]:
#encoding
from sklearn.preprocessing import OrdinalEncoder
columns_to_be_encoded = [ 'state','incident_type' ,'declaration_type']

for column in columns_to_be_encoded:
    # Create Ordinal encoder
    encoder = OrdinalEncoder()
    get_column = X[column]
    reshaped_vals = get_column.values.reshape(-1, 1)
    # Ordinally encode reshaped_vals
    X[column] = encoder.fit_transform(reshaped_vals)
    
#df.to_csv('check_disaster_data.csv', index=False)

X

       state  declaration_type  fy_declared  incident_type
0       12.0               0.0         1977           17.0
1       50.0               0.0         1977           17.0
2       21.0               0.0         1977            7.0
3       26.0               0.0         1977           17.0
4       31.0               0.0         1977            7.0
...      ...               ...          ...            ...
54446   49.0               0.0         2022           17.0
54447   49.0               0.0         2022           17.0
54448   49.0               0.0         2022           17.0
54449   49.0               0.0         2022           17.0
54450    0.0               0.0         2022           14.0

[54451 rows x 4 columns]

In [9]:
X['declaration_type']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
54446    0.0
54447    0.0
54448    0.0
54449    0.0
54450    0.0
Name: declaration_type, Length: 54451, dtype: float64

In [10]:
from sklearn.model_selection import train_test_split
#Split the Data into Training and Testing sets with test size as 30%

y=X['declaration_type']
#y=target_column.values.reshape(-1,1)
x=X.drop(['declaration_type'],axis=1)

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=42)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(38115, 3) (16336, 3) (38115,) (16336,)

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score,f1_score

dt_model=DecisionTreeClassifier(random_state=0)
dt_model.fit(x_train,y_train)
#pickle.dump(dt_model,open('disaster_model.pickle','wb'))
print(dt_model.predict([[12.0, 1977, 17.0]]))

[0.]