In [1]:
# Import the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stat

In [2]:
df=pd.read_csv('Week_8_Q&A_dataset-Sheet1.csv')

In [3]:
df.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

# 1. Carry out descriptive analytics on the dataset.

In [5]:
df.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# 2. Check whether female and male students scored the same marks.

In [6]:
df['Gender'].value_counts()

female    16
male      12
Name: Gender, dtype: int64

In [7]:
df.groupby(pd.Grouper(key="Gender")).mean()

        Total Marks
Gender
male      30.416667
female    33.750000

In [8]:
x=np.array(df[df['Gender']=='male']['Total Marks'])
y=np.array(df[df['Gender']=='female']['Total Marks'])

In [9]:
# Define Hypothesis:
# Null Hypothesis, H0: Mean score of females > Mean score of males 
# Alternate Hypothesis, H1: Mean score of females <= Mean score of males
stat.ttest_ind(x,y,alternative='greater')

Ttest_indResult(statistic=-0.6940885268848668, pvalue=0.7531088841019619)

### Since pvalue>0.05, accept null hypothesis where Mean score of females is greater than males.

# 3. Whether test preparation helps the students?

In [10]:
df['Test preparation'].value_counts()

none         21
completed     7
Name: Test preparation, dtype: int64

In [11]:
df.groupby(pd.Grouper(key="Test preparation")).mean()

                  Total Marks
Test preparation
none                28.238095
completed           44.571429

In [12]:
x1=np.array(df[df['Test preparation']=='completed']['Total Marks'])
y1=np.array(df[df['Test preparation']=='none']['Total Marks'])

In [13]:
# Define Hypothesis:
# Null Hypothesis, H0 : Mean score of students with test preparation <= Mean score of students without test preparation
# Alternate Hypothesis, H1: Mean score of students with test preparation > Mean score of students without test preparation
stat.ttest_ind(x1,y1,alternative='greater')

Ttest_indResult(statistic=3.6143637527769217, pvalue=0.0006335646228660053)

### Since pvalue<0.05, reject null hypothesis which means Test preparation help students.